<mat-nav-list>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">  <mat-icon>dashboard</mat-icon>  Dashboard</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/products"> <mat-icon>explore</mat-icon> Products</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/orders"> <mat-icon>view_module</mat-icon> Orders</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/uniqueKey"> <mat-icon>view_list</mat-icon> Unique Keys</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/emailtemplate"> <mat-icon>wysiwyg</mat-icon> Email Template</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/manual-Email"> <mat-icon>markunread</mat-icon> Send Manual Email</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/settings"> <mat-icon>settings</mat-icon> Settings</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/manual-Email"> <mat-icon>markunread</mat-icon> Manual Email</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/manual-Order-Processing"> <mat-icon>supervised_user_circle</mat-icon> Manual Order Processing</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/email-settings"> <mat-icon>mail</mat-icon> Email Settings</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users"> <mat-icon>people</mat-icon> users</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/vendors"> <mat-icon>people_alt</mat-icon> vendors</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/system-setting">  <mat-icon>settings_system_daydream</mat-icon> System Setting</a>

</mat-nav-list>