<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Admin</h2>
            <h4></h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/products">Products</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/orders">Orders</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/uniqueKey">Unique Keys</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/emailtemplate">Email Template</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/manual-Email">Send Manual Email</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/settings">Settings</a>
    

    <mat-divider></mat-divider>



    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/manual-Email">Manual Email</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/manual-Order-Processing"> Manual Order Processing</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/email-settings">Email Settings</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users">users</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/vendors">vendors</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/system-setting">System Setting</a>

</mat-nav-list>