<mat-nav-list>
    <div *ngIf="role == 'admin'"> 
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin" [routerLinkActiveOptions]="{exact:
        true}">  <mat-icon>dashboard</mat-icon>  Dashboard</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/products"> <mat-icon>explore</mat-icon> Products</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/orders"> <mat-icon>view_module</mat-icon> Orders</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/uniqueKey"> <mat-icon>view_list</mat-icon> Unique Keys</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/emailtemplate"> <mat-icon>wysiwyg</mat-icon> Email Template</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/allow-users"> <mat-icon>people</mat-icon> Allow Users</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/manual-Email"> <mat-icon>markunread</mat-icon> Send Manual Email</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/settings"> <mat-icon>settings</mat-icon> Settings</a>
    <mat-divider></mat-divider>
    </div>
    <div *ngIf="role == 'superAdmin'"> 
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/superadmin" [routerLinkActiveOptions]="{exact:
            true}">  <mat-icon>dashboard</mat-icon>  Dashboard</a>
    <mat-divider></mat-divider>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/superadmin/manual-Order-Processing"> <mat-icon>supervised_user_circle</mat-icon> Manual Order Processing</a> -->
    <!-- <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/superadmin/email-settings"> <mat-icon>mail</mat-icon> Email Settings</a>-->
    <!-- <mat-divider></mat-divider>  -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/superadmin/users"> <mat-icon>people</mat-icon> Users</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/superadmin/vendors"> <mat-icon>people_alt</mat-icon> Vendors</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/superadmin/system-setting">  <mat-icon>settings_system_daydream</mat-icon> System Setting</a>
</div>
<div *ngIf="role == 'employee'"> 
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee" [routerLinkActiveOptions]="{exact:
        true}">  <mat-icon>dashboard</mat-icon>  Dashboard</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee/products"> <mat-icon>explore</mat-icon> Products</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee/orders"> <mat-icon>view_module</mat-icon> Orders</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee/uniqueKey"> <mat-icon>view_list</mat-icon> Unique Keys</a>
    
    </div>
    <div *ngIf="role == 'support'"> 
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/support" [routerLinkActiveOptions]="{exact:
            true}">  <mat-icon>dashboard</mat-icon>  Dashboard</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/support/customer-Info"> <mat-icon>peoples</mat-icon> Customer Info</a>
        
        </div>
</mat-nav-list>