<mat-toolbar color="warn">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>Email Sender</span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul class="mb-0" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center" >
                
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                        {{role| uppercase}}
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="logout()" class="btn border-0" mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                        <!-- <button (click)="changepass()" class="btn border-0" mat-menu-item>
                            <mat-icon>lock-reset </mat-icon>
                            Change Password
                        </button> -->
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>