 
  <div  class="d-flex justify-content-between align-items-center"  > 

    <div fxFlex="100%" class=" w-25 searchdiv  d-flex justify-content-between">
    <mat-form-field class="w-100" appearance="none">
      <mat-label>Search Product</mat-label>
      <input matInput (keyup)="doFilter($event.target.value)" placeholder="Product Name">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    </div> 
    <div class="d-flex buttonsgroup" > 
  <button class="d-flex btn  btn-custom " (click)="openDialog('Upload Product File',{})"  mat-raised-button>Upload Multiple Products</button>
  <button  class="d-flex  ml-5 btn  btn-custom " (click)="openDialog('Add',{})" mat-raised-button>Upload Single Product</button> 
</div>
</div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
<table mat-table [dataSource]="dataSource" matSort class="custom-table">


    <!-- Name Column -->
    <ng-container matColumnDef="Brand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

   <!-- Name Column -->
   <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  
    <!-- Weight Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="productkey">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unique Keys </th>
        <td mat-cell *matCellDef="let element"> {{ element.activeKeyCount + element.usedKeyCount }} </td>
      </ng-container>
      
       <!-- Position Column -->
    <ng-container matColumnDef="Action">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td  mat-cell *matCellDef="let element" > 
         <mat-icon matTooltip="Assign Email Template"  (click)="openDialog('AsignEmailToProduct',element)">create</mat-icon> 
         <mat-icon (click)="delepredouct(element)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  </div>
  <mat-paginator [pageSize]="50" [pageSizeOptions]="[50, 100, 150, 200 , 250]">
  </mat-paginator>

  <button class="btn btn-custom" mat-raised-button>Download Products</button>