<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="login border border-dark rounded-lg p-5">
                <h1 class="text-center mb-4 text-center"> Login</h1>
                <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
                <div class="form-group mb-3 text-center">
                    <input type="text" class="form-control mb-4" formControlName="email" placeholder="Email/Username"  name="Email" />
                    <input type="password" class="form-control" formControlName="password"  placeholder="Password"  name="Password" />
                </div>
                <div class="form-group mb-2 text-center">
                    <input type="checkbox" name="remeberme"  > Remeber Me
                </div>
                <div class="form-group mb-2 text-center">
                    <button type="submit" class="btn w-75 m-auto btn-primary mb-4 d-block">Login</button>
                    <!-- <a routerLink="forgetpassword"  class="text-dark d-block">
                       <strong> Forgot Password </strong> 
                    </a> -->
                </div>
                <div *ngIf="wrongpass" class="form-group mb-2">
                    <p class="text-danger text-center"> Provided password/Username is wrong try again </p>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>