 
  <div  class="d-flex justify-content-between align-items-center"  > 
    <div class="d-flex w-100 buttonsgroup " > 
      <div fxFlex="100%" class="  searchdiv  d-flex justify-content-between">
        <mat-form-field appearance="outline">
          <mat-label>Search Product</mat-label>
          <input matInput (keyup)="doFilter($event.target.value)" placeholder="Product Name/SKU search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        </div> 
    <button class="ml-4 mt-2" (click)="openDialog('filteruniquekey',{})" mat-icon-button>
        <mat-icon>filter_alt</mat-icon>
    </button>
    </div>
    <div class="d-flex buttonsgroup " > 
  <button class="d-flex btn btn-custom"  (click)="openDialog('AddSinglekey',{})" mat-raised-button>Add Single Key</button>
  <button  class="d-flex btn btn-custom2 ml-5" (click)="openDialog('Upload File',{})"  mat-raised-button>Upload Keys</button> 
</div>
</div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
<table mat-table [dataSource]="dataSource" matSort class="custom-table">

    <!-- Position Column -->
    <ng-container matColumnDef="SKU">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
      <td mat-cell *matCellDef="let element" > {{element.SKU}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="BatchCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch Code </th>
      <td mat-cell *matCellDef="let element"> {{element.BatchCode}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="CodeUsed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Used </th>
      <td mat-cell *matCellDef="let element"> {{element.CodeUsed}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="CodeAvailable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Available </th>
      <td mat-cell *matCellDef="let element"> {{element.CodeAvailable}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
        <td mat-cell *matCellDef="let element" (click)="openDialog('Updatekey',element)"> <mat-icon>add_circle</mat-icon> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

