<h1 mat-dialog-title>Action : <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action === 'Upload File'" class="w-100 form-group">
    <input placeholder="upload file" class="form-control mb-3" type="file">
  </div>
  <mat-form-field *ngIf="action == 'Update' || action ==  'Add';">
    <label> Name</label>
    <input placeholder="name" class="form-control  border border-dark mb-3" matInput [(ngModel)]="localdata.name">
    <label> Category </label>
    <input placeholder="category" class="form-control  border border-dark mb-3" matInput [(ngModel)]="localdata.category">
    <label> Is Active</label>
    <input placeholder="IsActive" class="form-control  border border-dark mb-3" matInput [(ngModel)]="localdata.IsActive">
    <label> SKU ID</label>
    <input placeholder="UniqueKey" class="form-control  border border-dark mb-3" matInput [(ngModel)]="localdata.UniqueKey">
    <mat-checkbox [(ngModel)]="selectcheck"  (ngModelChange)="updateIsActive()"></mat-checkbox>
  </mat-form-field>
  
  <mat-form-field *ngIf="action == 'Updatekey' || action ==  'AddSinglekey';">
    <label> SKU</label>
    <input placeholder="SKU" class="form-control mb-3" matInput [(ngModel)]="localdata.SKU">
    <label> Batch Code </label>
    <input placeholder="Batch Code" class="form-control mb-3" matInput [(ngModel)]="localdata.BatchCode">
    <label> Unique Keys</label>
    <input placeholder="Code Available" class="form-control mb-3" matInput [(ngModel)]="localdata.CodeAvailable">
    <label>Code Used</label>
    <input placeholder="Code Used" class="form-control mb-3" matInput [(ngModel)]="localdata.CodeUsed">
    <mat-checkbox [(ngModel)]="selectcheck"  (ngModelChange)="updateIsActive()"></mat-checkbox>
  </mat-form-field>

  <div *ngIf="action == 'AddNewVendor';">
   <p> <label> Vendor Name</label>
    <input placeholder="Vendor name" class="form-control border border-dark mb-3" matInput [(ngModel)]="localdata.Vendorname">
  </p> 
  <p> 
    <label class="mr-3">Is Active</label>
    <mat-checkbox [(ngModel)]="selectcheck"  (ngModelChange)="updateIsActive()"></mat-checkbox>
  </p>
  <p> 
    <label> Email Address </label>
    <input placeholder="Email Address" class="form-control  border border-dark mb-3" matInput [(ngModel)]="localdata.Emailaddress">
  </p>
  <p> 
    <label> Password</label>
    <input placeholder="Password" class="form-control  border border-dark mb-3" matInput [(ngModel)]="localdata.password">
  </p>
  <p> 
    <label class="mr-3">Manual Email Allowed</label>
    <mat-checkbox [(ngModel)]="selectcheck"  (ngModelChange)="updateIsActive()"></mat-checkbox>
  </p>
  <p> 
    <label>Number of Manual emails per hour</label>
    <input placeholder="" class="form-control  border border-dark mb-3" matInput [(ngModel)]="localdata.nofmailperhour">
  </p>
  <p> 
    <label> Sync Products to MWS (Each days in hours) </label>
    <mat-label>Choose a date</mat-label>
    <mat-form-field> 
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  </div>

  <div *ngIf="action == 'AddNewUser';">
    <p> <label> User Name</label>
     <input placeholder="User name" class="form-control border border-dark mb-3" matInput [(ngModel)]="localdata.Username">
   </p> 
   <p> 
     <label class="mr-3">Is Active</label>
     <mat-checkbox [(ngModel)]="selectcheck"  (ngModelChange)="updateIsActive()"></mat-checkbox>
   </p>
   <p> 
     <label> Email Address </label>
     <input placeholder="Email Address" class="form-control  border border-dark mb-3" matInput [(ngModel)]="localdata.Emailaddress">
   </p>
   <p> 
     <label> Password</label>
     <input placeholder="Password" class="form-control  border border-dark mb-3" matInput [(ngModel)]="localdata.password">
   </p>
   <p> 
     <label class="mr-3">Manual Email Allowed</label>
     <mat-checkbox [(ngModel)]="selectcheck"  (ngModelChange)="updateIsActive()"></mat-checkbox>
   </p>
   <p> 
     <label>Number of Manual emails per hour</label>
     <input placeholder="" class="form-control  border border-dark mb-3" matInput [(ngModel)]="localdata.nofmailperhour">
   </p>
   <p> 
     <label> Sync Products to MWS (Each days in hours) </label>
     <mat-label>Choose a date</mat-label>
     <mat-form-field> 
     <input matInput [matDatepicker]="picker">
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
   </p>
   </div>

  <mat-card *ngIf="action === 'Delete'">
    <p>Sure to delete <b>{{local_data.name}}</b>?</p>
  </mat-card>

  <mat-card *ngIf="action === 'ViewAll'">
    <p> Name : {{localdata.name}}  </p>
    <p> Category : {{localdata.category }} </p>
    <p>  Is Active :{{localdata.IsActive}} </p>
    <p> Unique Key : {{localdata.UniqueKey}} </p>
  </mat-card>
</div>
<div mat-dialog-actions class="mt-4 d-flex justify-content-between">
  <button class="d-flex" mat-button (click)="doAction()">{{action}}</button>
  <button class="d-flex" mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>