<div class="model-header">
  <div (click)="closeDialog()"  class="close"> <mat-icon> close</mat-icon></div>
  <h2 mat-dialog-title *ngIf="action == 'AddNewVendor';">Add New Vendor </h2>
  <h2 mat-dialog-title *ngIf="action === 'Upload File'"> Upload Multiple products</h2>
  <h2 mat-dialog-title *ngIf="action == 'Update' || action ==  'Add';"> Add/Edit Product Details</h2>
  <h2 mat-dialog-title *ngIf="action === 'Upload Multiple Keys'">Upload Multiple Keys </h2>
  <h2 mat-dialog-title *ngIf="action == 'filteruniquekey';"> Filter Keys</h2>
  <h2 mat-dialog-title *ngIf="action ==  'AddSinglekey';"> Add Single SKU Unique Key</h2>
  <h2 mat-dialog-title *ngIf="action == 'Updatekey';"> Update Single SKU Unique Key</h2>
  <h2 mat-dialog-title *ngIf="action ==  'updateorder';"> Update Orders</h2>
  <h2 mat-dialog-title *ngIf="action == 'AddVendorSetting'"> Add Settings For Vendor</h2>
  <h2 mat-dialog-title *ngIf="action == 'EditVendorSetting'"> Edit Settings For Vendor</h2>
  <h2 mat-dialog-title *ngIf="action == 'AddUser'"> Add New User</h2>
  <h2 mat-dialog-title *ngIf="action == 'product not found'"> Notification</h2>
  <!-- <h2> Add/Edit Email Template</h2>
  <h2> Add/Edit SMS Template</h2> -->
  <h2 mat-dialog-title *ngIf="action == 'AddNewUser';"> Add New User </h2>
</div>
<div mat-dialog-content  class="model-body ">
  <div *ngIf="action === 'Upload Product File'"  class="row form-group">
    <div class="col-5 px-2 py-0 text-center">
    <input placeholder="upload file" class="form-control mb-2 h-auto" #csvReader id="txtFileUpload" (change)="uploadListener($event)" accept=".csv"  type="file">
    <!-- <button class="btn btn-primary" (click)=csvJSON(products.value)> Upload </button> -->
    </div>
  <a href="../../assets/products.cvs"  class="btn btn-warning col-4 d-inline-block mb-2 text-white  ml-2"> Download Template</a>
  </div>
  <div *ngIf="action === 'Upload Order File'"  class="row form-group">
    <div class="col-6 px-2 py-0 text-center">
      <input placeholder="upload file" class="form-control mb-2 h-auto" #csvReader id="txtFileUpload" (change)="uploadListenerOrders($event)" accept=".csv"  type="file">
    </div>
  <a href="../../assets/orders.csv" class="btn btn-warning col-5 d-inline-block mb-2 text-white  ml-2"> Download Template</a>
  </div>
  <div *ngIf="action === 'Upload Multiple Keys'" class="row form-group">
  <div class="col-5 px-2 py-0 text-center">
    <input placeholder="upload file" class="form-control mb-2 h-auto" #csvReader id="txtFileUpload" (change)="uploadListenerKeys($event)" accept=".csv"  type="file">
  </div>
  <a href="../../assets/unqiuekeys.csv" class="btn btn-warning col-5 d-inline-block mb-2 text-white ml-2"> Download Template</a>
  </div>
  <div *ngIf="action == 'Update' || action ==  'Add';">
    <label class="mt-4"> Name</label>
   <mat-form-field appearance="none">
    <input placeholder="name"  matInput [(ngModel)]="localdata.itemName">
  </mat-form-field>
  <label class="mt-4"> Category </label>
  <!-- <mat-form-field appearance="none" >
    <mat-label>Select category</mat-label>
    <mat-select> -->
      <!-- <mat-option *ngFor="let category of localdata.category" [value]="category">
        {{category}}
      </mat-option> -->
      <!-- <mat-option>Category 1</mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field appearance="none">
    <input placeholder="category"  matInput [(ngModel)]="localdata.category">
  </mat-form-field>
  <label class="mt-4"> ProductId </label>
  <mat-form-field appearance="none">
    <input placeholder="Product Id"  matInput [(ngModel)]="localdata.marketPlaceProductId">
  </mat-form-field>
  <label class="mt-4"> Seller Sku </label>
  <mat-form-field appearance="none">
    <input placeholder="Seller Sku"  matInput [(ngModel)]="localdata.sellerSku">
  </mat-form-field>
  <div class="mt-4"> 
    <mat-checkbox [(ngModel)]="selectcheckemail"  (ngModelChange)="updateIsActiveEmail()"></mat-checkbox> {{selecttext}}
  </div>
  <label class="mt-4"> quantity</label>
  <mat-form-field appearance="none">
    <input type="tel" placeholder="quantity"  matInput [(ngModel)]="localdata.quantity">
  </mat-form-field>
  <label class="mt-4"> Price</label>
  <mat-form-field appearance="none">
    <input  placeholder="price"  matInput [(ngModel)]="localdata.price">
  </mat-form-field>
</div>
<div *ngIf="action ==  'AddSinglekey';"> 
  <label class="mt-4"> SKU</label>
  <mat-form-field appearance="none">
    <input placeholder="SKU"   matInput [(ngModel)]="localdata.sku">
  </mat-form-field>
  <label class="mt-4"> Batch Code </label>
  <mat-form-field appearance="none">
    <input placeholder="Batch Code"   matInput [(ngModel)]="localdata.batch">
  </mat-form-field>
  <label class="mt-4"> Key</label>
  <mat-form-field appearance="none">
    <input placeholder="key"   matInput [(ngModel)]="localdata.key">
  </mat-form-field >
  <label class="mt-4">priority</label>
  <mat-form-field appearance="none">
    <input placeholder="Priority"   matInput [(ngModel)]="localdata.priority">
  </mat-form-field >
  <div class="mt-4"> 
    <mat-checkbox [(ngModel)]="selectcheckemail"  (ngModelChange)="updateIsActiveEmail()"></mat-checkbox> {{selecttext}}
  </div>
</div>
<div *ngIf="action == 'Updatekey' "> 
  <label class="mt-4"> Select Key to update</label>
  <mat-form-field appearance="none" >
    <mat-label>Keys</mat-label>
    <mat-select (selectionChange)="selectedValue($event)"> 
        <mat-option *ngFor="let key of localdata.productKeys" [value]="key">
        {{key.id}}
      </mat-option> 
    </mat-select>
  </mat-form-field>
  <label class="mt-4"> Batch Code </label>
  <mat-form-field appearance="none">
    <input placeholder="Batch Code"   matInput [(ngModel)]="localdata.batch">
  </mat-form-field>
  <label class="mt-4"> Key</label>
  <mat-form-field appearance="none">
    <input placeholder="key"   matInput [(ngModel)]="localdata.key">
  </mat-form-field >
  <label class="mt-4">Priority</label>
  <mat-form-field appearance="none">
    <input placeholder="Priority"   matInput [(ngModel)]="localdata.priority">
  </mat-form-field >
  <div class="mt-4"> 
    <mat-checkbox [(ngModel)]="selectcheckemail"  (ngModelChange)="updateIsActiveEmail()"></mat-checkbox> {{selecttext}}
  </div>
</div>
<div *ngIf="action == 'AddVendorSetting' || action == 'EditVendorSetting'"> 
  <label class="mt-4"> Tenant Id</label>
  <mat-form-field appearance="none">
    <input placeholder="tenant Id"   matInput [(ngModel)]="localdata.tenantId">
  </mat-form-field>
  <label class="mt-4"> Seller Id </label>
  <mat-form-field appearance="none">
    <input placeholder="seller Id"   matInput [(ngModel)]="localdata.sellerId">
  </mat-form-field>
  <label class="mt-4"> marketplace Id</label>
  <mat-form-field appearance="none">
    <input placeholder="marketplace Id"   matInput [(ngModel)]="localdata.marketplaceId">
  </mat-form-field >
  <label class="mt-4">refresh Token</label>
  <mat-form-field appearance="none">
    <input placeholder="refreshToken"   matInput [(ngModel)]="localdata.refreshToken">
  </mat-form-field >
  <label class="mt-4">default Values</label>
  <mat-form-field appearance="none">
    <textarea placeholder="defaultValues"   matInput [(ngModel)]="localdata.defaultValues"></textarea>
  </mat-form-field >
</div>
<div *ngIf="action == 'filteruniquekey';">
  <label class="mt-4"> Brand </label>
  <mat-form-field appearance="none">
    <input placeholder="Brand"   matInput [(ngModel)]="localdata.SKU">
  </mat-form-field>
  <label class="mt-4"> SKU</label>
  <mat-form-field appearance="none">
    <input placeholder="SKU"   matInput [(ngModel)]="localdata.SKU">
  </mat-form-field>
  <label class="mt-4"> Status</label>
  <mat-form-field appearance="none">
    <input placeholder="SKU"   matInput [(ngModel)]="localdata.SKU">
  </mat-form-field>
  <label class="mt-4"> Batch Code </label>
  <mat-form-field appearance="none">
    <input placeholder="Batch Code"   matInput [(ngModel)]="localdata.BatchCode">
  </mat-form-field>
</div>
  <div *ngIf="action == 'AddNewUser';">
    <label class="mt-4"> Tenent Id</label>
    <mat-form-field appearance="none">
    <input placeholder="Tenent Id"  matInput [(ngModel)]="localdata.tenentId">
  </mat-form-field >
  <label class="mt-4"> Role Id</label>
    <mat-form-field appearance="none">
    <input placeholder="Role Id"  matInput [(ngModel)]="localdata.roleId">
  </mat-form-field >
    <label class="mt-4"> FirstName</label>
    <mat-form-field appearance="none">
    <input placeholder="Vendor name"   matInput [(ngModel)]="localdata.firstname">
  </mat-form-field > 
  <label class="mt-4"> last Name</label>
    <mat-form-field appearance="none">
    <input placeholder="Vendor name"   matInput [(ngModel)]="localdata.lastname">
  </mat-form-field > 
  <div class="mt-4"> 
    <mat-checkbox [(ngModel)]="selectcheckemail"  (ngModelChange)="updateIsActiveEmail()"></mat-checkbox> {{selecttext}}
  </div>
  <label class="mt-4"> Email Address </label>
  <mat-form-field appearance="none">
    <input placeholder="Email Address"  matInput [(ngModel)]="localdata.email">
  </mat-form-field >
  <label class="mt-4"> Password</label>
  <mat-form-field appearance="none">
    <input placeholder="Password"  matInput [(ngModel)]="localdata.password">
  </mat-form-field >
  <!-- <div class="mt-4"> 
    <mat-checkbox [(ngModel)]="selectcheck"  (ngModelChange)="updateIsActive()"></mat-checkbox> Manual Email Allowed
  </div> -->
  <!-- <label class="mt-4">Number of Manual emails per hour</label>
  <mat-form-field appearance="none">
    <input placeholder=""  matInput [(ngModel)]="localdata.nofmailperhour">
  </mat-form-field > -->
  <!-- <p> 
    <label class="mt-4"> Sync Products to MWS (Each days in hours) </label>
    <mat-label>Choose a date</mat-label>
    <mat-form-field appearance="none"> 
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p> -->
  </div>
  <div *ngIf="action == 'AddUser';">
    
  
    <label class="mt-4"> FirstName</label>
    <mat-form-field appearance="none">
    <input placeholder="Vendor name"   matInput [(ngModel)]="localdata.firstname">
  </mat-form-field > 
  <label class="mt-4"> last Name</label>
    <mat-form-field appearance="none">
    <input placeholder="Vendor name"   matInput [(ngModel)]="localdata.lastname">
  </mat-form-field > 
  <div class="mt-4"> 
    <mat-checkbox [(ngModel)]="selectcheckemail"  (ngModelChange)="updateIsActiveEmail()"></mat-checkbox> {{selecttext}}
  </div>
  <label class="mt-4"> Email Address </label>
  <mat-form-field appearance="none">
    <input placeholder="Email Address"  matInput [(ngModel)]="localdata.email">
  </mat-form-field >
  <label class="mt-4"> Password</label>
  <mat-form-field appearance="none">
    <input placeholder="Password"  matInput [(ngModel)]="localdata.password">
  </mat-form-field >
  <label class="mt-4"> Role Id</label>
    <mat-form-field appearance="none">
    <input placeholder="Role Id"  matInput [(ngModel)]="localdata.roleId">
  </mat-form-field >
  </div>
  <div *ngIf="action == 'AddNewVendor';">
    <label class="mt-4"> Name</label>
    <mat-form-field appearance="none"> 
     <input placeholder="User name"   matInput [(ngModel)]="localdata.name">
    </mat-form-field > 
    <label class="mt-4"> Logo</label>
    <mat-form-field appearance="none"> 
     <input placeholder="Logo"   matInput [(ngModel)]="localdata.logo">
    </mat-form-field >
    <div class="mt-4"> 
     <mat-checkbox [(ngModel)]="selectcheckemail"  (ngModelChange)="updateIsActiveEmail()"></mat-checkbox> Active 
    </div>
    <!-- <label class="mt-4">  Email Address </label>
    <mat-form-field appearance="none"> 
     <input placeholder="Email Address"  matInput [(ngModel)]="localdata.Emailaddress">
    </mat-form-field >
    <label class="mt-4"> Password</label>
    <mat-form-field appearance="none"> 
     <input placeholder="Password"   matInput [(ngModel)]="localdata.password">
    </mat-form-field >
    <div class="mt-4">
     <mat-checkbox [(ngModel)]="selectcheck"  (ngModelChange)="updateIsActive()"></mat-checkbox> Manual Email Allowed
    </div>
    <label class="mt-4">Number of Manual emails per hour</label>
    <mat-form-field appearance="none"> 
     <input placeholder=""   matInput [(ngModel)]="localdata.nofmailperhour">
    </mat-form-field >
   <p> 
     <label class="mt-4"> Sync Products to MWS (Each days in hours) </label>
     <mat-label>Choose a date</mat-label>
     <mat-form-field appearance="none"> 
     <input matInput [matDatepicker]="picker">
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
   </p> -->
   </div>

   <div *ngIf="action == 'UploadEmail';">
    <label class="mt-4"> productId</label>
    <mat-form-field appearance="none"> 
     <input placeholder="productId"   matInput [(ngModel)]="localdata.productId">
    </mat-form-field > 
    
    <label class="mt-4">  name </label>
    <mat-form-field appearance="none"> 
     <input placeholder="name"  matInput [(ngModel)]="localdata.name">
    </mat-form-field >
    <label class="mt-4">  emailHtml </label>
    <div class="form-group"> 
      <input placeholder="upload file" #csvReader id="txtFileUpload" (change)="uploadListenerHtml($event)" accept=".html,.txt"  type="file">
    </div>
    <div class="mt-5 d-block">
      <mat-checkbox  class="d-inline mb-4" [(ngModel)]="selectcheckemail"  (ngModelChange)="updateIsActiveEmail()" ></mat-checkbox> {{selecttext}}
    </div>
    <label class="mt-4"> Comments</label>
    <mat-form-field appearance="none"> 
     <input placeholder=""  matInput [(ngModel)]="localdata.comments">
    </mat-form-field >
   
   </div>

  <mat-card *ngIf="action === 'Delete'">
    <p>Sure to delete <b>{{local_data.name}}</b>?</p>
  </mat-card>

  <mat-card *ngIf="action === 'ViewAll'">
    <p> Name : {{localdata.name}}  </p>
    <p> Category : {{localdata.category }} </p>
    <p>  Is Active :{{localdata.IsActive}} </p>
    <p> Unique Key : {{localdata.UniqueKey}} </p>
  </mat-card>

  <div  *ngIf="action === 'product not found'">
    <p> Your Unique for the availabe product is updated!!</p>
    <p class="font-weight-bold mt-4">No Product was found for these SKU</p>
    <ul>
      <li *ngFor="let productkey of localdata[0]" id="productkey"> {{productkey}} </li>
    </ul>
  </div>
</div>
<div mat-dialog-actions class="model-footer mt-4 " align="end">
  <div class="d-flex justify-content-end" *ngIf="action === 'AddNewUser' || action ==='AddUser' || action === 'EditVendorSetting' || action == 'Updatekey' || action ==  'AddSinglekey' || action == 'Update' || action ==  'Add'"> 
  <button class="d-flex  btn btn-custom" mat-button (click)="closeDialog()" mat-flat-button >Close</button>
  <button class="d-flex  btn btn-custom" mat-button (click)="doAction()">Save Changes</button>
  </div>
  <div class="d-flex justify-content-end" *ngIf="action === 'Upload File'  || action === 'Upload Multiple Keys' || action == 'Upload Product File' || action === 'Upload Order File'">
    <button class="d-flex  btn btn-custom" mat-button (click)="closeDialog()" mat-flat-button >Close</button>
  <button class="d-flex  btn btn-custom" mat-button (click)="doAction()"  mat-flat-button>Upload</button>
  </div>
  <div class="d-flex justify-content-end" *ngIf="action == 'filteruniquekey';">
    <button class="d-flex  btn btn-custom" mat-button (click)="closeDialog()" mat-flat-button>Close</button>
    <button class="d-flex  btn btn-custom" mat-button (click)="doAction()"  mat-flat-button>Filter</button>
  </div>
  <div class="d-flex justify-content-end" *ngIf="action == 'AddNewVendor' || action === 'AddVendorSetting';">
    <button class="d-flex btn btn-custom" mat-button (click)="closeDialog()" mat-flat-button >Close</button>
    <button class="d-flex btn btn-custom" mat-button (click)="doAction()"  mat-flat-button>Add</button>
  </div>
  <div class="d-flex justify-content-end" *ngIf="action == 'UploadEmail';">
    <button class="d-flex btn btn-custom" mat-button (click)="closeDialog()" mat-flat-button >Close</button>
    <button class="d-flex btn btn-custom" mat-button (click)="doAction()"  mat-flat-button>Add Email Template</button>
  </div>
</div>