<div class="mt-5">

    <h3 class="bm-1"> Add / Edit Template </h3>
    <hr>
    <div class="form-group d-flex">
    <label class="w-25">Template Name</label>
      <input placeholder="Template name" class="form-control mb-3 border border-dark" matInput >
    </div>
    <div class="form-group  d-flex">
      <label class="w-25"> Category</label>
      <input placeholder="Template category" class="form-control mb-3 border border-dark" matInput >
     </div> 
     <mat-checkbox  class="d-block mb-4" ></mat-checkbox>
      
  <ckeditor
    [editor]="Editor"
    [(ngModel)]="model.content"
    [config]="config"
    (change)="onChange($event)"
    (editorChange)="onEditorChange($event)" 
    (ready)="onReady($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (contentDom)="onContentDom($event)"
    (fileUploadRequest)="onFileUploadRequest($event)"
    (fileUploadResponse)="onFileUploadResponse($event)"
    (paste)="onPaste($event)"
    (drop)="onDrop($event)"
    debounce="500">
  </ckeditor>
</div>