<div class="container">
    <div class="row">
        <div class="col-3 py-4">
           <label> Scheduler Time</label> 
        </div>
        <div class="col-7 text-left py-4">
            <mat-form-field appearance="none">
                <mat-label>Select time</mat-label>
                <mat-select>
                  <mat-option *ngFor="let time of times" [value]="time">
                    {{time}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-3 py-4">
           <label> SMS Gateway Keys </label> 
        </div>
        <div class="col-7 text-left py-4">
            <mat-form-field  appearance="none" class="example-full-width">
                <input  matInput placeholder="gateways" value="gateways">
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-2 ">
            <button class="btn btn-custom mt-3"> Save</button>
        </div>
        <div class="col-4 text-left">
            <button class="btn btn-custom mt-3"> Run the Schduler now</button>
        </div>
    </div>
</div>