.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

.btn-custom {
  // background-image: linear-gradient(90deg,#598bff,#36f);
    background:#36f;
    border: none;
    box-shadow: 0 0 0 0 #274bdb,0 0 20px 0 #1a34b8,none;
    color: #fff;
    padding: .69rem 1.1875rem;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: .17rem;
    font-size: .875rem;
    line-height: 1rem;
    transition-duration: 0.15s;
    transition-property: background-color,border-color,box-shadow,color;
    transition-timing-function: ease-in;
    cursor: pointer;
    font-family: ' Proxima Nova', sans-serif;;
    font-weight: 700;
}
// .btn-custom:hover {
//   background-image: linear-gradient(90deg,#a6c1ff,#598bff);
// }
:host ::ng-deep .mat-icon-button{ width: 36px; height:36px}
.btn-custom2 {
  // background-image: linear-gradient(90deg,#2ce69b,#00d68f);
    background:#00d68f;
    border: none;
    box-shadow: 0 0 0 0 #274bdb,0 0 20px 0 #1a34b8,none;
    color: #fff;
    padding: .69rem 1.1875rem;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: .17rem;
    font-size: .875rem;
    line-height: 1rem;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: ease-in;
    cursor: pointer;
    font-family:' Proxima Nova', sans-serif;;
    font-weight: 700;
}
// .btn-custom2:hover { 
//   background-image: linear-gradient(90deg,#8cfac7,#2ce69b);
// }

:host ::ng-deep mat-input:focus , :host ::ng-deep mat-select:focus { outline:none;border:none}

:host ::ng-deep .searchdiv .mat-form-field-wrapper {
  padding-bottom: 0em!important;
}

:host ::ng-deep .buttonsgroup  .mat-form-field-wrapper {
  margin: 0;
  padding:0 ;
}
:host ::ng-deep .mat-form-field-underline { display:none!important}
:host ::ng-deep .mat-form-field-wrapper { padding-bottom:0px}
:host ::ng-deep .searchdiv .form-group {
  margin-bottom: 0rem;
}
 
  table {
  border-collapse: collapse;
  }
  
  .custom-table  thead{
  background-color: #fff;
  }
  
  .custom-table  tr:nth-child(2n+1) {
  background-color: #f9f9f9;
  }

.custom-table {
  background-color: #fff;
  border: 1px solid #e4e9f2;
  border-radius: .17rem;
  box-shadow: none;
  color: #222b45;
  font-family: ' Proxima Nova', sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  width:100%
 }

 :host ::ng-deep .mat-form-field-label { margin-top: -.0em}

.custom-table  {
  box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
  border-radius: 6px;
  background-color: #fff;
  }
  .custom-table {
  width: 100%;
  margin: 2rem auto;
  color: #212529;
  }

 
  
  :host ::ng-deep .mat-form-field { line-height:1.5 ;border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);}

  :host ::ng-deep  .mat-form-field-wrapper {
       margin: 0;
  }
  
:host ::ng-deep .mat-form-field-flex { align-items: center;padding:0 6px;}

  

:host ::ng-deep  .mat-select-arrow-wrapper { transform: translateY(0%) }


  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-left: 1px solid #e4e9f2;
    padding:6px!important;
    color:#333;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    text-align: center!important;
  }
  :host ::ng-deep .mat-paginator{ background:transparent}
  th.mat-header-cell { font-size:15px;color:#000;padding:6px!important;text-align: center!important;height: 14px;}
  .mat-cell, .mat-footer-cell{font-size:14px;color:#333 }
  :host ::ng-deep  .mat-sort-header-container { justify-content: center;}
  :host ::ng-deep .mat-paginator-page-size-label {display:none!important}

  :host ::ng-deep .mat-form-field-infix  { border-top:0px!important}
  input , select { font-family: 'Proxima Nova',sans-serif;}
  .mat-icon { color:#8f9bb3; cursor: pointer;}
  :host ::ng-deep  tr.mat-footer-row, tr.mat-row { height: 34px;}
  :host ::ng-deep td.mat-cell { padding:3px!important}