 
  <div  class="d-flex justify-content-between align-items-center"  > 

    <div fxFlex="100%" class="  searchdiv  d-flex justify-content-between">
      <mat-form-field appearance="outline">
        <mat-label>Search Vendor</mat-label>
        <input matInput (keyup)="doFilter($event.target.value)" placeholder="Vendor Name/SKU search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      </div> 
    
</div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
<table mat-table [dataSource]="dataSource" matSort class="custom-table">

    <!-- Position Column -->
    <ng-container matColumnDef="Vendorname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor Name </th>
      <td mat-cell *matCellDef="let element" > {{element.Vendorname}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Pendingorder">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pending Order</th>
      <td mat-cell *matCellDef="let element"> {{element.Pendingorder}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Uplodorder">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Uplod Order </th>
      <td mat-cell *matCellDef="let element"> {{element.Uplodorder}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Procesorder">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Process Order </th>
        <td mat-cell *matCellDef="let element" > {{element.Procesorder}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

   