<div class="container">
    <div class="row">
        <div class="col-12">
        <label> AWS Key for Email </label>
        </div>
        <div class="col-12">
                <mat-form-field appearance="none" class="mb-3 w-50">
                  <input matInput placeholder="Keys" >
                </mat-form-field>
        </div>
        <div class="col-12">
        <label> Token for S3 API </label>
        </div>
        <div class="col-12">
            <mat-form-field  appearance="none" class="mb-3 w-50">
                <input matInput placeholder="Keys" >
              </mat-form-field>
        </div>
        <div class="col-12">
        <label> SMTP Server Host </label>
        </div>
        <div class="col-12">
            <mat-form-field  appearance="none" class="mb-3 w-50">
                <input matInput placeholder="Keys" >
              </mat-form-field>
        </div>
        <div class="col-12">
        <label> SMTP User Name </label>
        </div>
        <div class="col-12">
            <mat-form-field  appearance="none" class="mb-3 w-50">
                <input matInput placeholder="Keys" >
              </mat-form-field>
        </div>
        <div class="col-12">
        <label> SMTP Password </label>
        </div>
        <div class="col-12">
            <mat-form-field  appearance="none" class="mb-3 w-50">
                <input matInput placeholder="Keys" >
              </mat-form-field>
        </div>
        <div class="col-12">
        <label>  Port# </label>
        </div>
        <div class="col-12 mb-4">
            <mat-form-field  appearance="none" class="mb-3 w-50">
                <input matInput placeholder="Keys" >
              </mat-form-field>
        </div>
        <div class="col-3">
          
        <mat-checkbox class="m-1" [checked]="true">
        </mat-checkbox> Is Secure 
        </div>
        
        <div class="col-3">
         <mat-checkbox class="m-1" [checked]="true">
        </mat-checkbox> Use Email Template 
        </div>
         
    </div>
    </div>
