<div class="container">
    <div class="row">
        <div class="col-3">
        <label> AWS Key for Email </label>
        </div>
        <div class="col-7">
                <mat-form-field appearance="none" class="mb-3">
                  <input matInput placeholder="Keys" >
                </mat-form-field>
        </div>
        <div class="col-3">
        <label> Token for S3 API </label>
        </div>
        <div class="col-7">
            <mat-form-field  appearance="none" class="mb-3">
                <input matInput placeholder="Keys" >
              </mat-form-field>
        </div>
        <div class="col-3">
        <label> SMTP Server Host </label>
        </div>
        <div class="col-7">
            <mat-form-field  appearance="none" class="mb-3">
                <input matInput placeholder="Keys" >
              </mat-form-field>
        </div>
        <div class="col-3">
        <label> SMTP User Name </label>
        </div>
        <div class="col-7">
            <mat-form-field  appearance="none" class="mb-3">
                <input matInput placeholder="Keys" >
              </mat-form-field>
        </div>
        <div class="col-3">
        <label> SMTP Password </label>
        </div>
        <div class="col-7">
            <mat-form-field  appearance="none" class="mb-3">
                <input matInput placeholder="Keys" >
              </mat-form-field>
        </div>
        <div class="col-3">
        <label>  Port# </label>
        </div>
        <div class="col-7">
            <mat-form-field  appearance="none" class="mb-3">
                <input matInput placeholder="Keys" >
              </mat-form-field>
        </div>
        <div class="col-3">
        <label> Is Secure </label>
        </div>
        <div class="col-7">
            <mat-checkbox class="example-margin" [checked]="true">
          </mat-checkbox>
        </div>
        <div class="col-3">
         <label>  Use Email Template </label>
        </div>
        <div class="col-7">
            <mat-checkbox class="example-margin" [checked]="true">
            </mat-checkbox>
        </div>
    </div>
    </div>
