 <div class="container">
   <div class="row">
     <div class="col-12">
       <form class="contact-form">
         <div class="row">
           <div class="col-12 mb-4">
             <label> To Email Address</label>
             <mat-form-field class="d-block w-50" appearance="none">
              <input type="email" matInput placeholder="Ex. pat@example.com" name="email" [(ngModel)]="manualsenddata.email">
            </mat-form-field>
           </div>
            
           <!-- <div class="col-12 mb-4">
             <label> Choose Email Template </label>
             <mat-form-field class="d-block w-50" appearance="none">
              <mat-label>SKU</mat-label>
               <mat-select>
                 <mat-option selected value="option">Template Category</mat-option>
                 <mat-option value="option">Template Category</mat-option>
                 <mat-option value="option">Template Category</mat-option>
                 <mat-option value="option">Template Category</mat-option>
               </mat-select>
             </mat-form-field>
           </div> -->
            
           <div class="col-12 mb-4">
             <label> Customer Order from</label>
             <mat-form-field class="d-block w-50" appearance="none">
              <mat-label>Market Place</mat-label>
               <mat-select (selectionChange)="selectedValue2($event)" name="marketplace">
                 <mat-option selected value="Amazon">Amazon</mat-option>
                 <mat-option value="Flipkart">Flipkart</mat-option>
                 <mat-option value="Snapdeal">Snapdeal</mat-option>
                 <mat-option value="Shopclues">Shopclues</mat-option>
               </mat-select>
             </mat-form-field>
           </div>
            
           <div class="col-12 mb-4">
             <label> SKU</label>
             <mat-form-field class="d-block w-50" appearance="none">
              <mat-label>SKU</mat-label>
               <mat-select (selectionChange)="selectedValue($event)" name="sellerSku">
                 <mat-option *ngFor="let prod of productsku" [value]="prod.sellerSku">{{prod.sellerSku}} </mat-option>
                 
               </mat-select>
             </mat-form-field>
           </div>
              
             <div class="col-12 mb-4">
               <label> Quantity</label>
               <mat-form-field class="d-block w-50" appearance="none">
                <input matInput placeholder="2" name="quantity" [(ngModel)]="manualsenddata.quantity">
              </mat-form-field>
             </div>
              <div class="col-12 mb-4">
                <button class="btn btn-primary" (click)="sendManualEmail()">Send Mail </button>
              </div>
           </div>
       </form>
     </div>

   </div>
 </div>
