 <div class="container">
     <div class="row">
         <div class="col-12">
            <form class="contact-form" >
            <label> To Email Address</label>
            <input type="email"  class="form-control mb-3 p-1 border border-dark" matInput placeholder="Ex. pat@example.com">
           
            <label> Choose Email Template </label>
            <mat-select class="form-control mb-3 p-1 border border-dark">
                <mat-option value="option">Template Category</mat-option>
              </mat-select>
            <label> Customer Order from</label>
            <mat-select class="form-control mb-3 p-1 border border-dark">
                <mat-option value="option">Market Place</mat-option>
              </mat-select>
            <label> SKU</label>
            <mat-select class="form-control mb-3 p-1 border border-dark">
                <mat-option value="option">SKU</mat-option>
              </mat-select>
            <label> Quantity</label>
            <input matInput placeholder="2" class="form-control mb-3 border border-dark"  >
        </form>
         </div>
        
     </div>
 </div>